body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;

}

.bule {
    color: aquamarine;
}

section {
    display: flex;
    margin-bottom: 120px;
}

.left {
    width: 50%;
    padding-left: 5%;
}

.left img {
    width: 60%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, yellow );
    padding: 10px 40px;
    border-radius: 5px;
}
.top-side{
    background-image: url(images/top-banner.png );
    background-repeat: no-repeat;
}
.second-on{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: right; 
}