body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;

}

h2 {
    font-size: 40px;
}

.bule {
    color: red;
}

.flexible {
    display: flex;
    margin-bottom: 150px;
}

.left {
    width: 50%;
    padding-left: 5%;
}

.left img {
    width: 50%;
}

.button-text-color {
    color: white;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(to right, red, yellow);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 25px;
}

.box-color {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 6px;
    box-shadow: 10px 10px 30px gray;
}

#full {
    border-left: 5px solid blue;
}

#baby {
    border-left: 5px solid tomato;
}

.top-side {
    background-image: url(images/top-banner.png );
    background-repeat: no-repeat;
}

.second-on {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experiences {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer p{
    text-align: center;
}